<div class="title">
  <h1><em>shorten</em>/</h1>
</div>
<div class="create">
  <input type="text" value=""/>
  <button>Submit</button>
  <p>Paste your URL here</p>
</div>
<div class="result">
  <ul></ul>
</div>
<div class="popular">
  <h3>Popular Clicks</h3>
  <ul></ul>
</div>
<textarea class="clipboard"></textarea>
